:root {
    --blue1: #113F67;
    --blue2: #34699A;
    --blue3: #408AB4;
    --blue4: rgba(128, 199, 211, 0.4);

    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
    
    --sm: 1.6rem;
    --md: 1.8rem;
    --lg: 2rem;

    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
    --anton: 'Anton', sans-serif;
    font-size: 62.5%;

    box-sizing: border-box;

}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  
    
}

main {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    place-items: center;

}



/*header-section*/
.header-container {
    width: 90%;
    place-items: center;
}

h1 {
color: var(--blue1);
font-family: var(--anton);
font-weight: var(--font-weight-title1);
font-size: 3rem;

}

.header-container form {
    display: flex;
    height: 40px;
    width: 90%;
}

.header-input {

    width: 85%;
    height: 100%;
    padding: 0;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: var(--blue4);
}


.header-button {
    background-color: var(--blue1);
    width: 15%;
    height: 100%;
    border: none;
    border-radius: 0px 10px 10px 0;
    padding: 10px;
    font-size: 1.4rem;
}


/* Trending section */

.trending-container {
    width: 90%;
}

.trending-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h2 {
    color: var(--blue2);
    font-weight: var(--font-weight-title2);
    font-size: var(--lg);
}

.trending-header > div {
  
    border-radius: 5px;
    background-color: var(--blue1);
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;

}

.img-container {
    max-width: 400px;
    min-width: 100px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.img-container > img {
    border-radius: 15px;
    margin-right: 15px;
    width: 150px;
    height: 225px;
    min-width: 150px;
    min-height: 225px;
    max-width: 150px;
    max-height: 225px;
}



/* category and search - section */

.header-space {
    position: relative;
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.main-category-title {
    display: flex;
    justify-self: start;
    align-items: center;

}

.main-category-title > div {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

    /*back symbol for categoryPost & searhPost */
.backsymbol {
    position: absolute;
    cursor: pointer;
    left: 4px;
    color: var(--blue1);
    font-weight: var(--font-weight-title1);
    font-size: 40px;

}

.category-backsymbol-section {

}


.main-category-container {
    width: 90%;
}



.category-items-container {
    display: flex;
    height: 300px;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.item {
    width: 100px;
    display: flex;
    align-items: center;
}
.item div {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 2px;
}


.item p {  
    font-size: 12px;
}

#id28 { background-color: #113F67; }
#id12 { background-color: #456711; }
#id16 { background-color: #c79425; }
#id35 { background-color: #711616; }
#id80 { background-color: #c76464; }
#id99 { background-color: #4378a6; }
#id18 { background-color: #32c50e; }
#id10751 { background-color: #266720; }
#id14 { background-color: #895959; }
#id36 { background-color: #15abd9; }
#id27 { background-color: #a9ea06; }
#id10402 { background-color: #f83a0a; }
#id9648 { background-color: #fd04d4; }
#id10749 { background-color: #f2ca04; }
#id878 { background-color: #2e9397; }
#id10770 { background-color: #316695; }
#id53 { background-color: #b13ba1; }
#id10752{ background-color: #ac7474; }
#id37 { background-color: #72e12d; }

/*generic movie list */

.genericmovie-list {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  
} 
.genericmovie-list img{
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    width: 150px;
    height: 225px;
    min-width: 150px;
    min-height: 225px;
    max-width: 150px;
    max-height: 225px;
} 


/* Movie Details*/

.movieDetails-container {
    margin: 0;
}

.movieDetails-backsymbol {
    position: absolute;
    cursor: pointer;
    left: 19px;
    top: 0px;
    color: white;
    font-weight: var(--font-weight-title1);
    font-size: 40px;
   
}


.movieDetails-info {
    background-color: white;
    border-radius: 25px 25px 0 0;
    padding: 10px;
    position: relative;
    top: -30px;

}

.movieDetails-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.movieDetails-title-container p::before {
    content: "â­";
    margin-right: 4px;

}

.movieDetails-container > img {
    width: 100vw;
    object-fit: contain;

}

p {
    color: (var(--blue2));
    font-size: var(--sm);
}




/* footer */

footer {    
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--blue1);
}


.inactive{
    display: none;
}
